<ul class='country__card'>
  <li class='country__title'>
    <img src='{{flag}}' alt='flag' width='32' height='32' /><p>{{country}}</p>

  </li>
  <li class='country__item'>
    <p class='country__item--accent'>Capital:</p><p>{{countryCapital}}</p>

  </li>
  <li class='country__item'>
    <p class='country__item--accent'>Population:</p><p>{{population}}</p>
  </li>
  <li class='country__item'>
    <p class='country__item--accent'>Languages:</p><p>{{countryLanguages}}</p>
  </li>
</ul>