<ul class='country__card'>
  <li class='country__title'>
    <img src='{{flag}}' alt='flag' width='32' height='32' />
    {{country}}
  </li>
  <li class='country__item'>
    <span class='country__item--accent'>Capital:</span>
    {{countryCapital}}
  </li>
  <li class='country__item'>
    <span class='country__item--accent'>Population:</span>{{population}}
  </li>
  <li class='country__item'>
    <span class='country__item--accent'>Languages:</span>{{countryLanguages}}
  </li>
</ul>